/* Reset CSS */
body, h1, h2, p, ul {
  margin: 0;
  font-family: 'gensin';
  src: url('https://github.com/hisero106516/test/fonts/GenShinGothic-Light.ttf') format('ttf'), 
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('https://i.imgur.com/04t5M2H.jpeg'); /* 背景画像を設定 */
  background-size: cover; /* 背景画像を画面に合わせて表示 */
  color: #fff; /* テキストカラーを白に指定 */
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* テキストの影を設定 */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ページ全体の高さを画面の高さに設定 */
}

header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}